.clock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-block: 1rem;
  justify-items: center;

  .clock__timer {
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 0.5rem navy;
  }

  .clock__input {
    font-size: 2rem;
    color: white;
    background-color: transparent;
    border-radius: 1rem;
    border-inline: 1px dashed white;
    border-block: 1px dashed white;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;

    &:focus-visible {
      outline: none;
    }
  }
}
